.tossing{
  animation-name: tossing;
  -webkit-animation-name: tossing;

  animation-duration: 5s;
  -webkit-animation-duration: 5s;

  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

@keyframes tossing {
  0% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(4deg);
  }
  100% {
    transform: rotate(-4deg);
  }
}

@-webkit-keyframes tossing {
  0% {
    -webkit-transform: rotate(-4deg);
  }
  50% {
    -webkit-transform: rotate(4deg);
  }
  100% {
    -webkit-transform: rotate(-4deg);
  }
}

.tossing-alt{
  animation-name: tossing-alt;
  -webkit-animation-name: tossing-alt;

  animation-duration: 6s;
  -webkit-animation-duration: 6s;

  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

@keyframes tossing-alt {
  0% {
    transform: rotate(4deg);
  }
  60% {
    transform: rotate(-4deg);
  }
  100% {
    transform: rotate(4deg);
  }
}

@-webkit-keyframes tossing-alt {
  0% {
    -webkit-transform: rotate(4deg);
  }
  60% {
    -webkit-transform: rotate(-4deg);
  }
  100% {
    -webkit-transform: rotate(4deg);
  }
}
