.tossing{
  animation-name: tossing;
  -webkit-animation-name: tossing;

  animation-duration: 5s;
  -webkit-animation-duration: 5s;

  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

@keyframes tossing {
  0% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(4deg);
  }
  100% {
    transform: rotate(-4deg);
  }
}

@-webkit-keyframes tossing {
  0% {
    -webkit-transform: rotate(-4deg);
  }
  50% {
    -webkit-transform: rotate(4deg);
  }
  100% {
    -webkit-transform: rotate(-4deg);
  }
}

@-moz-keyframes tossing {
  0% {
    -moz-transform: rotate(-4deg);
  }
  50% {
    -moz-transform: rotate(4deg);
  }
  100% {
    -moz-transform: rotate(-4deg);
  }
}


.tossing-alt{
  animation-name: tossing-alt;
  -webkit-animation-name: tossing-alt;

  animation-duration: 6s;
  -webkit-animation-duration: 6s;

  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

@keyframes tossing-alt {
  0% {
    transform: rotate(4deg);
  }
  60% {
    transform: rotate(-4deg);
  }
  100% {
    transform: rotate(4deg);
  }
}

@-webkit-keyframes tossing-alt {
  0% {
    -webkit-transform: rotate(4deg);
  }
  60% {
    -webkit-transform: rotate(-4deg);
  }
  100% {
    -webkit-transform: rotate(4deg);
  }
}

@-moz-keyframes tossing-alt {
  0% {
    -moz-transform: rotate(4deg);
  }
  60% {
    -moz-transform: rotate(-4deg);
  }
  100% {
    -moz-transform: rotate(4deg);
  }
}


.pulse{
  animation-name: pulse;
  -webkit-animation-name: pulse;

  animation-duration: 5s;
  -webkit-animation-duration: 5s;

  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  1% {
    transform: scale(0.9);
  }
  5% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  15% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
  }
  1% {
    -webkit-transform: scale(0.9);
  }
  5% {
    -webkit-transform: scale(1);
  }
  10% {
    -webkit-transform: scale(0.9);
  }
  15% {
    -webkit-transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1);
  }
}

@-moz-keyframes pulse {
  0% {
    -moz-transform: scale(1);
  }
  1% {
    -moz-transform: scale(0.9);
  }
  5% {
    -moz-transform: scale(1);
  }
  10% {
    -moz-transform: scale(0.9);
  }
  15% {
    -moz-transform: scale(1);
  }
  100% {
    -moz-transform: scale(1);
  }
}

// Kill on mobile

@media (max-width: 640px){
  * {

   // /*CSS transitions*/

   // -o-transition-property: none !important;

   // -moz-transition-property: none !important;

   // -ms-transition-property: none !important;

   // -webkit-transition-property: none !important;

   // transition-property: none !important;

   /*CSS transforms*/

   // -o-transform: none !important;

   // -moz-transform: none !important;

   // -ms-transform: none !important;

   // -webkit-transform: none !important;

   // transform: none !important;

   /*CSS animations*/

   -webkit-animation: none !important;

   -moz-animation: none !important;

   -o-animation: none !important;

   -ms-animation: none !important;

   animation: none !important;

  }
}
