$color1: #717171;
$color2: #d5c5b8;
$form-color: white;



.space-out{
  margin-top: 5%;
  margin-bottom: 5%;
}

.input-field{
  margin-left: -5px;
}

#contest-form{
  @extend .peppa-border;
  @extend .peppa-shadow;
  padding: 0 3%;
  background-color: $dark-blue;
  color: white;
  a{
    color: white;
  }
  .btn{
    background-color: $grass-green !important;
  }
}

.collection{
  // border: 8px solid $color1;
  background-color: $dark-blue !important;
  color: white !important;
  @extend .peppa-border;
  @extend .peppa-shadow;
  border-bottom: 0 !important;
  .collection-item, .collection-header{
    border-bottom: 8px solid white !important;
    border-top: 0 !important;
    background-color: $dark-blue !important;
    padding: 20px 20px !important;
    color: white !important;
    .tix{
      background-color: $grass-green !important;
      i{color: white !important;}
    }
  }
}

.valign{
  width: 100%;
}

#hidden_iframe{
  display: none;
}

.full-w{
  width: 100%;
}

// FORMS

.input-field label.active {
  font-size: 0.8rem;
  transform: translateY(-180%);
  color: white;
}

/* label color */
.input-field label {
  color: purple;
  padding-left: 1%;
}

label[for=rules], label[for=emails]{
  color: white !important;
  padding-left: 30px !important;
  margin-bottom: 3%;
}

.select-wrapper span.caret {
    color: initial;
    position: absolute;
    right: -4px;
    top: 0;
    font-size: 10px;
    background-color: $grass-green !important;
    color: white !important;
    z-index: 99999;
    width: 50px;
    height: 46px;
    text-align: center;
    line-height: 50px;
}

.input-field input[type=text].valid {
    border-bottom: 1px solid transparent !important;
    box-shadow: 0 1px 0 0 transparent !important;
}
 /* label focus color */
 .input-field input[type=text]:focus + label {
   color: $form-color;
 }
 /* label underline focus color */
 .input-field input[type=text]:focus {
   border-bottom: 1px solid $form-color;
   box-shadow: 0 1px 0 0 $form-color;
 }
 /* valid color */
 .input-field input[type=text].valid {
   border-bottom: 1px solid $form-color;
   box-shadow: 0 1px 0 0 $form-color;
 }
 /* invalid color */
 .input-field input[type=text].invalid {
   border-bottom: 1px solid $form-color;
   box-shadow: 0 1px 0 0 $form-color;
 }
 /* icon prefix focus color */
 .input-field .prefix.active {
   color: $form-color;
 }

span.error{
  position: relative;
  display: block;
  color: $inner-red;
}

.error-box{
  // height: 25px;
}

input{
  background-color: white !important;
  color: purple !important;
  padding-left: 1% !important;
}

input:not([type]):focus:not([readonly]),
input:not([email]):focus:not([readonly]){
  border-bottom: 1px solid $form-color;
  box-shadow: 0 1px 0 0 $form-color;
}

label.active{
  color: white !important;
}

input:not([email]):focus:not([readonly])+label,{
  // color: purple !important;
}

input[type="checkbox"].filled-in:checked+label:after {
  border: 2px solid white;
  background-color: transparent;
}

input[type="checkbox"].filled-in:not(:checked)+label:after{
  border: 2px solid white;
  background-color: transparent;
}

input:not([type]),
input[type=email],
.select-wrapper input.select-dropdown{
  border-bottom: 1px solid white;
}

.caret{
  color: white !important;
  cursor: pointer;
}

.dropdown-content{
  overflow-y: scroll;
  overflow-x: hidden;
  height: 500px;
  @extend .peppa-shadow;
  @extend .peppa-border;
}

.select-dropdown{
  li span{
    color: $dark-blue !important;
  }
}

input, select, textarea{
    color: $form-color;
}

textarea:focus, input:focus {
    color: $form-color;
}

// dropdown

.dropdown-content li>span {
  color: $form-color;
  z-index: 99999999;
}

.tix{
  padding-left: 8px;
  padding-right: 8px;
}

.tix:nth-child(odd){
  margin-right: 8px;
}

.thanks{
  color: black !important;
}

#tour-dates{
  p{
    display: inline;
  }
}

.collection-item div{
  position: relative;
}

.secondary-content{
  position: absolute !important;
  right: 0;
  top: -7px;
}

.dropdown-content::-webkit-scrollbar {
    width: 12px;
    z-index: 9999999;
}

.dropdown-content::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.3);
    z-index: 9999999;
}

.dropdown-content::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.5);
    z-index: 9999999;
}
