
body{
  background-image: url('https://s3.amazonaws.com/myfangate.com/fightforsomething/grunge.jpg');
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
}

.header{
  margin-bottom: 0;
}

.full-w{
  width: 100%;
}

.margin-top{
  margin-top: 2%;
}

.support{
  margin-top: -25%;
}

.collection,
.collection-header,
.collection-item{
  border-color: transparent;
}

.collection-item{
  line-height: 2.5rem !important;
}

.date, .venue, .date-divider{
  margin: 0;
  display: inline;
}

// FORMS

/* label color */
 .input-field label {
   color: #fff;
 }
 /* label focus color */
 .input-field input[type=text]:focus + label {
   color: #fff;
 }
 /* label underline focus color */
 .input-field input[type=text]:focus {
   border-bottom: 1px solid #fff;
   box-shadow: 0 1px 0 0 #fff;
 }
 /* valid color */
 .input-field input[type=text].valid {
   border-bottom: 1px solid #fff;
   box-shadow: 0 1px 0 0 #fff;
 }
 /* invalid color */
 .input-field input[type=text].invalid {
   border-bottom: 1px solid #fff;
   box-shadow: 0 1px 0 0 #fff;
 }
 /* icon prefix focus color */
 .input-field .prefix.active {
   color: #fff;
 }
