$grey: #717171;
$beige: #d5c5b8;
$form-color: $grey;

#contest-form{
  background-color: $beige;
  padding: 2%;
  border: 8px solid $grey !important;
  border-radius: 5px;
  color: $grey;
  a{
    color: white;
  }
  .btn{
    background-color: $grey !important;
  }
}

.collection{
  border: 8px solid $grey;
  background-color: $beige;
  color: $grey;
  border-bottom: 0 !important;
  .collection-item, .collection-header{
    border-bottom: 8px solid $grey !important;
    border-top: 0 !important;
    background-color: $beige !important;
    padding: 20px 20px !important;
    color: $grey !important;
    .tix{
      background-color: $grey !important;
      i{color: $beige !important;}
    }
  }
}

#border-wrap{
  max-width: 1440px;
  margin: 0 auto;
}

.header{
  // margin-top: 2%;
  position: relative;
}

.promo{
  position: relative;
  z-index: 999;
}

.container{
  width: 100% !important;
  background-color: #69a77e;
}

.brand-img{
  width: 100%;
  max-width: 120px;
  padding: 15px;
}

.logo{
  opacity: .7;
  -ms-transform: rotate(3deg); /* IE 9 */
  -webkit-transform: rotate(3deg); /* Chrome, Safari, Opera */
  transform: rotate(3deg);
}

.album-info{
  h2,h3,h4{
    margin: 0 auto !important;
  }
  -ms-transform: rotate(2deg); /* IE 9 */
  -webkit-transform: rotate(2deg); /* Chrome, Safari, Opera */
  transform: rotate(2deg);
}

.video-container{
  // -ms-transform: rotate(-1deg); /* IE 9 */
  // -webkit-transform: rotate(-1deg); /* Chrome, Safari, Opera */
  // transform: rotate(-1deg);
}

#contest-form{
  // -ms-transform: rotate(1deg); /* IE 9 */
  // -webkit-transform: rotate(1deg); /* Chrome, Safari, Opera */
  // transform: rotate(1deg);
}

.valign{
  width: 100%;
}

.itunes-btn{
  max-width: 200px;
  width: 100%;
}

.cta{
  margin-bottom: 2%;
  -ms-transform: rotate(-1deg); /* IE 9 */
  -webkit-transform: rotate(-1deg); /* Chrome, Safari, Opera */
  transform: rotate(-1deg);
}

body{
  text-transform: uppercase;
  // background-image: url('https://s3.amazonaws.com/myfangate.com/mayday2016/paperbg.jpg');
  // background-repeat: repeat;
  font-family: 'lpsaturniaw00-regularregular';
  background-color: black;
}

#hidden_iframe{
  display: none;
}

.full-w{
  width: 100%;
}

.albummini{
  -ms-transform: rotate(-3deg); /* IE 9 */
  -webkit-transform: rotate(-3deg); /* Chrome, Safari, Opera */
  transform: rotate(-3deg);
}
// FORMS

/* label color */
 .input-field label {
   color: $form-color;
 }
 /* label focus color */
 .input-field input[type=text]:focus + label {
   color: $form-color;
 }
 /* label underline focus color */
 .input-field input[type=text]:focus {
   border-bottom: 1px solid $form-color;
   box-shadow: 0 1px 0 0 $form-color;
 }
 /* valid color */
 .input-field input[type=text].valid {
   border-bottom: 1px solid $form-color;
   box-shadow: 0 1px 0 0 $form-color;
 }
 /* invalid color */
 .input-field input[type=text].invalid {
   border-bottom: 1px solid $form-color;
   box-shadow: 0 1px 0 0 $form-color;
 }
 /* icon prefix focus color */
 .input-field .prefix.active {
   color: $form-color;
 }

span.error{
  position: relative;
  display: block;
  @extend .red-text;
}

.error-box{
  height: 25px;
}


input:not([type]):focus:not([readonly]),
input:not([email]):focus:not([readonly]){
  border-bottom: 1px solid $form-color;
  box-shadow: 0 1px 0 0 $form-color;
}

input:not([type]):focus:not([readonly])+label,
input:not([email]):focus:not([readonly])+label,{
  color: $form-color;
}

input[type="checkbox"].filled-in:checked+label:after {
  border: 2px solid $form-color;
  background-color: $form-color;
}

input, select, textarea{
    color: $form-color;
}

textarea:focus, input:focus {
    color: $form-color;
}

footer.page-footer{
  background-color: transparent !important;
}

// main{
//   margin-bottom: 100px;
// }

// footer:before{
//   content: "";
//   background-image: url('https://s3.amazonaws.com/myfangate.com/mayday2016/blacklines.png');
//   background-repeat: repeat;
//   position: absolute;
//   margin-top: -122px;
//   height: 187px;
//   width: 100%;
//   z-index: 10;
// }

// dropdown

.dropdown-content li>span {
  color: $form-color;
  z-index: 99999999;
}

.tix{
  padding-left: 8px;
  padding-right: 8px;
}

.tix:nth-child(odd){
  margin-right: 8px;
}

nav{
  margin-bottom: 100px;
}

.nav-wrapper{
  position: relative;
  z-index: 9999;
}

nav:after{
  content: "";
  background-image: url('https://s3.amazonaws.com/myfangate.com/mayday2016/blacklines2.png');
  background-repeat: repeat;
  position: absolute;
  margin-top: -122px;
  height: 187px;
  width: 100%;
  z-index: 10;
  background-position: right center;
}

.social-head{
  -ms-transform: rotate(-1deg); /* IE 9 */
  -webkit-transform: rotate(-1deg); /* Chrome, Safari, Opera */
  transform: rotate(-1deg);
}

.thanks{
  color: black !important;
}


@media #{$small-and-down} {
  .brand-img{
    margin-top: -5px;
  }
  .album-info{
    h3{
      font-size: 2.92rem;
    }
    h4{
      font-size: 2.28rem;
    }
    .itunes-btn{
      max-width: 200px;
    }
  }
}
@media #{$medium-and-up} {
  .album-info{
    h3{
      font-size: 2rem;
    }
    h4{
      font-size: 1.5rem;
    }
    .itunes-btn{
      max-width: 150px;
    }
  }
}
@media #{$large-and-up} {
  .album-info{
    h3{
      font-size: 2.92rem;
    }
    h4{
      font-size: 2.28rem;
    }
    .itunes-btn{
      max-width: 200px;
    }
  }
}
@media (min-width: 770px) and (max-width: 1400px) {
  .album-info{
    h3{
      font-size: 2rem;
    }
    h4{
      font-size: 1.5rem;
    }
    .itunes-btn{
      max-width: 150px;
    }
  }
}
@media (min-width: 600px) and (max-width: 730px) {
  .album-info{
    h3{
      font-size: 1.5rem;
    }
    h4{
      font-size: 1rem;
    }
    .itunes-btn{
      max-width: 150px;
    }
  }
}

.fender-logo{
  max-width: 100px !important;
  width: 100%;
  height: auto;
}

#tour-dates{
  // z-index: -1;
  border-radius: 5px;
  p{
    display: inline;
  }
}

.collection-item div{
  position: relative;
}

.secondary-content{
  position: absolute !important;
  right: 0;
  top: -7px;
}

.row{
  margin-bottom: 0 !important;
}

.page-footer{
  margin-top: 0 !important;
  padding-top: 0 !important;
}

.clouds{
  position: absolute;
  top: 0;
  height: 80%;
  background: rgb(128,183,206); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(128,183,206,1) 0%, rgba(176,210,224,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(128,183,206,1) 0%,rgba(176,210,224,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(128,183,206,1) 0%,rgba(176,210,224,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80b7ce', endColorstr='#b0d2e0',GradientType=0 ); /* IE6-9 */
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 0;
}

.cloud-image{
  background-image: url('https://s3.amazonaws.com/myfangate.com/rdim360/clouds.png');
  background-repeat: repeat;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 80%;
}


@media (min-width: 1280px){
  #border-wrap{
    // border-left: 80px solid black;
    // border-right: 80px solid black;
    border-style: solid;
    border-top: 0;
    border-bottom: 0;
    border-width:0 80px;
    -o-border-image: url('https://s3.amazonaws.com/myfangate.com/rdim360/borderimg.png') 0 80 0 80 repeat;
    -moz-border-image: url('https://s3.amazonaws.com/myfangate.com/rdim360/borderimg.png') 0 80 0 80 repeat;
    border-image: url('https://s3.amazonaws.com/myfangate.com/rdim360/borderimg.png') 0 80 0 80 repeat;
    box-shadow: 0px 0px 25px 10px rgba(0,0,0,0.2);
  }
}

.text-shadow{
  text-shadow: 1px 1px 2px #386B80;
}

.cloud-bg{
  position: fixed;
  top: 0;
  height: 100%;
  background: rgb(128,183,206); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(128,183,206,1) 0%, rgba(176,210,224,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(128,183,206,1) 0%,rgba(176,210,224,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(128,183,206,1) 0%,rgba(176,210,224,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80b7ce', endColorstr='#b0d2e0',GradientType=0 ); /* IE6-9 */
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -2;
  opacity: 0.2
}

.cloud-image-bg{
  background-image: url('https://s3.amazonaws.com/myfangate.com/rdim360/clouds.png');
  background-repeat: repeat;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
  opacity: 0.1
}

.headline{
  position: relative;
  z-index: 9999;
}

.warped-logo{
  margin-top: -5%;
  z-index: -20;
  position: relative;
  // margin-bottom: -20%;
}

.bands{
  position: relative;
  z-index: 9999;
  margin-top: -1%;
  .band-wrap{
    margin-bottom: -2%;
  }
  h2{
    margin-bottom: 1% !important;
  }
  h5{
    color: black;
  }
}

.section-head{
  display: block;
  padding-bottom: 5% !important;
}

.small-warped{
  vertical-align: middle;
  width: 10%;
  margin-left: 1%;
  margin-right: 1%;
}

.pad-top{
  padding-top: 5%;
}

.page-footer{
  .container{
    .row{
      max-width: 1170px;
      margin: 0 auto;
    }
  }
}
