$color1: #717171;
$color2: #d5c5b8;
$form-color: white;

main{
  padding-bottom: 5%;
  padding-top: 5%;
}

.space-out{
  margin-top: 5%;
  margin-bottom: 5%;
}

.input-field{
  margin-left: -5px;
}

#contest-form{
  @extend .peppa-border;
  @extend .peppa-shadow;
  padding: 0 3%;
  background-color: $dark-blue;
  color: white;
  a{
    color: white;
  }
  .btn{
    background-color: $grass-green !important;
  }
}

.collection{
  // border: 8px solid $color1;
  background-color: $dark-blue !important;
  color: white !important;
  @extend .peppa-border;
  @extend .peppa-shadow;
  border-bottom: 0 !important;
  .collection-item, .collection-header{
    border-bottom: 8px solid white !important;
    border-top: 0 !important;
    background-color: $dark-blue !important;
    padding: 20px 20px !important;
    color: white !important;
    .tix{
      background-color: $grass-green !important;
      i{color: white !important;}
    }
  }
}

.valign{
  width: 100%;
}

#hidden_iframe{
  display: none;
}

.full-w{
  width: 100%;
}

// FORMS

.input-field label.active {
  font-size: 0.8rem;
  transform: translateY(-180%);
  color: white;
}

/* label color */
.input-field label {
  color: purple;
  padding-left: 1%;
}

label[for=rules], label[for=emails]{
  color: white !important;
  padding-left: 30px !important;
  margin-bottom: 3%;
}

.select-wrapper span.caret {
    color: initial;
    position: absolute;
    right: -5px;
    top: 0;
    font-size: 10px;
    background-color: $grass-green !important;
    color: white !important;
    z-index: 99999;
    width: 50px;
    height: 100%;
    text-align: center;
    line-height: 50px;
}

.input-field input[type=text].valid {
    border-bottom: 1px solid transparent !important;
    box-shadow: 0 1px 0 0 transparent !important;
}
 /* label focus color */
 .input-field input[type=text]:focus + label {
   color: $form-color;
 }
 /* label underline focus color */
 .input-field input[type=text]:focus {
   border-bottom: 1px solid $form-color;
   box-shadow: 0 1px 0 0 $form-color;
 }
 /* valid color */
 .input-field input[type=text].valid {
   border-bottom: 1px solid $form-color;
   box-shadow: 0 1px 0 0 $form-color;
 }
 /* invalid color */
 .input-field input[type=text].invalid {
   border-bottom: 1px solid $form-color;
   box-shadow: 0 1px 0 0 $form-color;
 }
 /* icon prefix focus color */
 .input-field .prefix.active {
   color: $form-color;
 }

span.error{
  position: relative;
  display: block;
  color: $inner-red;
}

.error-box{
  // height: 25px;
}

input{
  background-color: white !important;
  color: purple !important;
  padding-left: 1% !important;
}

input:not([type]):focus:not([readonly]),
input:not([email]):focus:not([readonly]){
  border-bottom: 1px solid $form-color;
  box-shadow: 0 1px 0 0 $form-color;
}

label.active{
  color: white !important;
}

input:not([email]):focus:not([readonly])+label,{
  // color: purple !important;
}

input[type="checkbox"].filled-in:checked+label:after {
  border: 2px solid white;
  background-color: transparent;
}

input[type="checkbox"].filled-in:not(:checked)+label:after{
  border: 2px solid white;
  background-color: transparent;
}

input:not([type]),
input[type=email],
.select-wrapper input.select-dropdown{
  border-bottom: 1px solid white;
}

.caret{
  color: white !important;
  cursor: pointer;
}

.dropdown-content{
  overflow-y: scroll;
  overflow-x: hidden;
  height: 500px;
  @extend .peppa-shadow;
  @extend .peppa-border;
}

.select-dropdown{
  li span{
    color: $dark-blue !important;
  }
}

input, select, textarea{
    color: $form-color;
}

textarea:focus, input:focus {
    color: $form-color;
}

// dropdown

.dropdown-content li>span {
  color: $form-color;
  z-index: 99999999;
}

.tix{
  padding-left: 8px;
  padding-right: 8px;
}

.tix:nth-child(odd){
  margin-right: 8px;
}

.thanks{
  color: white !important;
}

#tour-dates{
  p{
    display: inline;
  }
}

.collection-item div{
  position: relative;
}

.secondary-content{
  position: absolute !important;
  right: 0;
  top: -7px;
}

.dropdown-content::-webkit-scrollbar {
    width: 12px;
    z-index: 9999999;
}

.dropdown-content::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.3);
    z-index: 9999999;
}

.dropdown-content::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.5);
    z-index: 9999999;
}


@media #{$medium-and-down} {
  .submit{
    margin-top: 5%;
  }
}

.sky{
  background-color: $sky-blue;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: -10;
  background-image: url('https://s3.amazonaws.com/myfangate.com/peppapig/clouds.png');
  background-repeat: repeat;
}

.grass{
  background-color: transparent;
  position: fixed;
  width: 100%;
  height: 20%;
  bottom: 0;
  z-index: -10;
  &::before{
    @extend .peppa-shadow-up;
    content: '';
    height: 1200px;
    width: 150%;
    border-radius: 600px 600px 0 0;
    -moz-border-radius: 600px 600px 0 0;
    -webkit-border-radius: 600px 600px 0 0;
    background: #70ab4f;
    z-index: -9;
    position: absolute;
    top: -20%;
    left: -24%;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    background-image: url('https://s3.amazonaws.com/myfangate.com/peppapig/flowers.png');
    background-repeat: repeat;
  }
}

footer{
  &::before{
    content: '';
    background-image: url("https://s3.amazonaws.com/myfangate.com/peppapig/whitewaves.png");
    height: 54px;
    width: 100%;
    background-repeat: repeat-x;
    margin-top: -54px;
    position: absolute;
  }
}

nav{
  &::after{
    content: '';
    background-image: url("https://s3.amazonaws.com/myfangate.com/peppapig/whitewavesdown.png");
    height: 54px;
    width: 100%;
    background-repeat: repeat-x;
    position: absolute;
    margin-top: -22px;
  }
}

#header{
  position: relative;
}

.streamers{
  background-image: url("https://s3.amazonaws.com/myfangate.com/peppapig/streamers.png");
  width: 100%;
  height: 100%;
  background-position: center top;
  position: absolute;
  background-repeat: repeat-x;
  z-index: -1;
}

.shadowed {
  -webkit-filter: drop-shadow(2px 6px 0px rgba(0,0,0,0.2));
  filter: url(#drop-shadow);
  -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
  filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
}

.pig-container{
  position: relative;
}

.peppapig{
  width: 20%;
  position: absolute;
  left: 4%;
  img {
    margin-top: -140%;
  }
}

.george{
  position: absolute;
  right: -2%;
  width: 30%;
  float: right;
  img {
    margin-top: -160%;
  }
}

.peppamud{
  position: absolute;
  position: absolute;
  top: -70%;
  left: 5%;
}

@media #{$medium-and-down} {
  .grass:before{
    border-radius: 0;
  }
}

#preloader  {
     position: fixed;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     background-color: $sky-blue;
     z-index: 99;
    height: 100%;
    z-index: 9999999999999999;
    .container .row{
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
 }

.loaderimg {
    width: 174px;
    height: 208px;
    margin: 0 auto !important;
    background-image: url('https://s3.amazonaws.com/myfangate.com/peppapig/mudpuddle.gif');
    background-repeat: no-repeat;
    background-position: center;
    margin: -100px 0 0 -100px;
 }

.brand-img{
  max-height: 60px;
  margin-top: 9px !important;
  z-index: 9999999999;
  position: relative;
}

.brand-logo{
  z-index: 1;
}

.button-collapse{
  color: $dark-blue;
}

@media (max-width: 965px){
  #header{
    margin-top: 50px;
  }
}

.reg-text-shadow{
  text-shadow: 1px 1px 0px rgba(0,0,0,0.2);
}

.prize-text{
  -ms-transform: rotate(-1deg); /* IE 9 */
  -webkit-transform: rotate(-1deg); /* Chrome, Safari, Opera */
  transform: rotate(-1deg);
  color: $inner-pink !important;
}

.enter{
  -ms-transform: rotate(2deg); /* IE 9 */
  -webkit-transform: rotate(2deg); /* Chrome, Safari, Opera */
  transform: rotate(2deg);
}

.break-word{
  word-wrap: break-word !important;
  width: 100% !important;
}

#muddy-peppa{
  transition-duration:500ms;
  -ms-transition-duration:500ms;
  -webkit-transition-duration:500ms;
  -o-transition-duration:500ms;
  -moz-transition-duration:500ms;
}

.disappear{
    opacity:0;
    transform:scale(0,0);
    -ms-transform:scale(0,0); /* IE 9 */
    -webkit-transform:scale(0,0); /* Safari and Chrome */
    -o-transform:scale(0,0); /* Opera */
    -moz-transform:scale(0,0); /* Firefox */
}

#tour-dates p {
  display: inline;
  font-size: 18px;
}
