@font-face {
    font-family: 'lpsaturniaw00-regularregular';
    src: url('../fonts/lp_saturnia_regular-webfont.eot');
    src: url('../fonts/lp_saturnia_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lp_saturnia_regular-webfont.woff2') format('woff2'),
         url('../fonts/lp_saturnia_regular-webfont.woff') format('woff'),
         url('../fonts/lp_saturnia_regular-webfont.ttf') format('truetype'),
         url('../fonts/lp_saturnia_regular-webfont.svg#lpsaturniaw00-regularregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

h1 {
  font-family: 'lpsaturniaw00-regularregular';
  font-size: 8vw;
  margin: 0 auto !important;
}
h2 {
  font-family: 'lpsaturniaw00-regularregular';
  font-size: 3vw;
  margin: 0 auto !important;
}
h5 {
  font-family: 'lpsaturniaw00-regularregular';
  font-size: 1.8vw;
  margin: 0 auto !important;
}

@media (min-width: 1546px){
  h1 {
    font-size: 6vw;
  }
  h2 {
    font-size: 2vw;
  }
  h5 {
    font-size: 0.8vw;
  }
}
// h3 {
//   font-family: 'lpsaturniaw00-regularregular';
//   font-size: 14px;
//   font-style: normal;
//   font-variant: normal;
//   font-weight: 500;
//   line-height: 15.4px;
// }
// p {
//   font-family: 'lpsaturniaw00-regularregular';
//   font-size: 14px;
//   font-style: normal;
//   font-variant: normal;
//   font-weight: 400;
//   line-height: 20px;
// }
// blockquote {
//   font-family: 'lpsaturniaw00-regularregular';
//   font-size: 21px;
//   font-style: normal;
//   font-variant: normal;
//   font-weight: 400;
//   line-height: 30px;
// }
// pre {
//   font-family: 'lpsaturniaw00-regularregular';
//   font-size: 13px;
//   font-style: normal;
//   font-variant: normal;
//   font-weight: 400;
//   line-height: 18.5714px;
// }
