@font-face {
    font-family: 'lpsaturniaw00-regularregular';
    src: url('../fonts/lp_saturnia_regular-webfont.eot');
    src: url('../fonts/lp_saturnia_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lp_saturnia_regular-webfont.woff2') format('woff2'),
         url('../fonts/lp_saturnia_regular-webfont.woff') format('woff'),
         url('../fonts/lp_saturnia_regular-webfont.ttf') format('truetype'),
         url('../fonts/lp_saturnia_regular-webfont.svg#lpsaturniaw00-regularregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
