@font-face {
  font-family:'AmericanTypewriter-Bold';
  src: url('../fonts/AmericanTypewriter-Bold_gdi.eot');
  src: url('../fonts/AmericanTypewriter-Bold_gdi.eot?#iefix') format('embedded-opentype'),
    url('../fonts/AmericanTypewriter-Bold_gdi.woff') format('woff'),
    url('../fonts/AmericanTypewriter-Bold_gdi.ttf') format('truetype'),
    url('../fonts/AmericanTypewriter-Bold_gdi.svg#AmericanTypewriter-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-25CA;
}

h1 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 26.4px;
}
h3 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 15.4px;
}
p {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
}
blockquote {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 21px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 30px;
}
pre {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 18.5714px;
}
