.peppa-shadow{
  box-shadow: 3.5px 6.062px 0px 0px rgba(1, 2, 2, 0.2) !important;
}

.peppa-shadow-up{
  box-shadow: 10.5px -7px 0px 0px rgba(0,0,0,0.05) !important;
}

.peppa-border{
  border-style: solid !important;
  border-width: 5px !important;
  border-color: white !important;
  border-radius: 14px !important;
}

.peppa-pink-text{
  color: $headline-pink !important;
}

.peppa-blue-text{
  color: $dark-blue !important;
}

.peppa-headline-pink{
  color: $headline-pink;
  -webkit-text-fill-color: $headline-pink; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: white;
  text-shadow: 1px 6px 0px rgba(0,0,0,0.3);
  // -ms-transform: rotate(-2deg); /* IE 9 */
  // -webkit-transform: rotate(-2deg); /* Chrome, Safari, Opera */
  // transform: rotate(-2deg);
}

.peppa-headline-blue{
  color: $dark-blue;
  -webkit-text-fill-color: $dark-blue; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: white;
  text-shadow: 1px 6px 0px rgba(0,0,0,0.3);
  // -ms-transform: rotate(1deg); /* IE 9 */
  // -webkit-transform: rotate(1deg); /* Chrome, Safari, Opera */
  // transform: rotate(1deg);
}

.no-margin-tb{
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

@media (max-width: 640px){
  .peppa-headline-pink, .peppa-headline-blue{
    font-size: 7vw;
    -webkit-text-fill-color: none; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 0;
    -webkit-text-stroke-color: none;
    text-shadow: 1px 1px 0px rgba(0,0,0,0.2);
  }
  h1,h2,h3,h4,h5{
    -o-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
  }
}

@media (min-width: 641px) and (max-width: 1137px){
  .peppa-headline-pink, .peppa-headline-blue{
    font-size: 5vw;
  }
}
