$grass-green: #70ab4f;
$dark-blue: #0072aa;
$sky-blue: #4eaed6;
$light-yellow: #f0e57a;
$headline-pink: #db87b9;
$flower-yellow: #f5e919;
$mud: #7d6a55;
$inner-red: #f2665d;
$border-red: #ef3c26;
$inner-pink: #f1c0d9;
$border-pink: #e99cc4;
$inner-yellow: #f9f072;
$border-yellow: #e3d252;
$inner-blue: #5191cd;
$border-blue: #0081c6;
$inner-green: #64c29c;
$border-green: #008a5f;
