$color: rgb(213,197,184);

.dcsns-toolbar{
  display: none;
}
.stream li{
  background-color: $color;
  color: white;
}
.section-intro{
  background-color: black !important;
  color: $color !important;
}
.section-text ,.twitter-user, a, .section-user a{
  color: #717171 !important;
}

// @media (min-width: 1340px){
//   .stream{
//     margin-left: 10% !important;
//   }
// }

// @media (min-width: 1440px){
//   .stream{
//     margin-left: 4% !important;
//   }
// }

// @media (max-width: 1200px) {
//   .dcsns-content {
//     margin-left: 125px;
//     max-width: 940px;
//   }
// }
// @media (max-width: 768px) {
//   .dcsns-content {
//     margin-left: 110px;
//     max-width: 940px;
//   }
// }
// @media (max-width: 680px) {
//   .dcsns-content {
//     margin-left: 100px;
//     max-width: 940px;
//   }
// }
// @media (max-width: 660px) {
//   .dcsns-content {
//     margin-left: 80px;
//     max-width: 940px;
//   }
// }
// @media (max-width: 600px) {
//   .dcsns-content {
//     margin-left: 60px;
//     max-width: 940px;
//   }
// }
// @media (max-width: 560px) {
//   .dcsns-content {
//     margin-left: 125px;
//     max-width: 940px;
//   }
// }
// @media (max-width: 480px) {
//   .dcsns-content {
//     margin-left: 100px;
//     max-width: 940px;
//   }
// }
// @media (max-width: 440px) {
//   .dcsns-content {
//     margin-left: 80px;
//     max-width: 940px;
//   }
// }
