$color: black;

.dcsns-toolbar{
  display: none;
}
.stream li{
  background-color: rgba(0,0,0,0.7);
  color: white;
}
.section-intro{
  background-color: black !important;
  color: $color !important;
}
.section-text{
  color: $color;
}

@media (max-width: 1200px) {
  .dcsns-content {
    margin-left: 125px;
    max-width: 940px;
  }
}
@media (max-width: 768px) {
  .dcsns-content {
    margin-left: 110px;
    max-width: 940px;
  }
}
@media (max-width: 680px) {
  .dcsns-content {
    margin-left: 100px;
    max-width: 940px;
  }
}
@media (max-width: 660px) {
  .dcsns-content {
    margin-left: 80px;
    max-width: 940px;
  }
}
@media (max-width: 600px) {
  .dcsns-content {
    margin-left: 60px;
    max-width: 940px;
  }
}
@media (max-width: 560px) {
  .dcsns-content {
    margin-left: 125px;
    max-width: 940px;
  }
}
@media (max-width: 480px) {
  .dcsns-content {
    margin-left: 100px;
    max-width: 940px;
  }
}
@media (max-width: 440px) {
  .dcsns-content {
    margin-left: 80px;
    max-width: 940px;
  }
}
