<div class="container">
  <!-- MOBILE PRIZING -->
  <div class="row">
    <div class="col s12 m8 offset-m2 hide-on-large-only">
      <img class="full-w margin-top" src="<%= lorem.image('640x640', :background_color => '333', :color => 'fff') %>">
    </div>
  </div>
  <!-- END MOBILE PRIZING -->
  <!-- CONTEST -->
  <div class="row valign-wrapper">
    <form id="contest-form" class="col s12 m8 offset-m2 l5 offset-l1">
      <div class="center-align">
        <h2 class="white-text">ENTER HERE</h2>
      </div>
      <div class="input-field">
        <!-- First Name -->
        <input id="name" type="text" class="validate">
        <label for="name">First Name</label>
      </div>
      <div class="input-field">
        <!-- Last Name -->
        <input id="name" type="text" class="validate">
        <label for="name">Last Name</label>
      </div>
      <div class="input-field">
        <!-- Email Address -->
        <input id="email" type="email" class="validate">
        <label for="email">Email</label>
      </div>
      <div class="input-field">
        <!-- Agree To Emails -->
        <input type="checkbox" class="filled-in" id="emails" checked="checked" />
        <label for="emails">I agree to receive emails from Fearless Records</label>
      </div>
      <div class="input-field">
        <!-- Agree To Rules -->
        <input type="checkbox" class="filled-in" id="rules"/>
        <label for="rules">I agree to the <a href="#" target="_blank">rules and terms of this contest</a></label>
      </div>
      <div class="input-field">
        <div class="col s12 center-align margin-top">
          <!-- Facebook Button -->
          <div id="fb-share" class="btn btn-large waves-effect waves-light cyan" onclick="fbShare();"><i class="fa fa-facebook"></i> FACEBOOK</div>
        </div>
      </div>
      <div class="input-field">
        <!-- Hidden Input -->
        <input type="checkbox" class="filled-in" id="fbshareinput"/>
        <label for="fbshareinput">Shared?</label>
      </div>
      <div class="input-field">
        <div class="col s12 center-align margin-top">
          <!-- Submit Button -->
          <button class="btn btn-large waves-effect waves-light cyan" type="submit" name="action">NEXT</button>
        </div>
      </div>
    </form>
    <!-- END CONTEST -->
    <!-- DESKTOP PRIZING -->
    <div class="col s12 m8 offset-m2 l5 hide-on-med-and-down">
      <img class="full-w margin-top" src="<%= lorem.image('640x640', :background_color => '333', :color => 'fff') %>">
    </div>
    <!-- END DESKTOP PRIZING -->
  </div>
</div>
