<div class="container">
  <div class="row">
    <div class="col s12">
      <div class="col s12 m5 offset-m1 white-text center-align">
        <h2>ENTER HERE</h2>
      </div>
      <div class="col s12 m5 white-text center-align">
        <h2>WIN THIS</h2>
      </div>
    </div>
  </div>
  <div class="row">
    <form id="contest-form" class="col s12 m5 offset-m1">
      <div class="input-field">
        <input id="name" type="text" class="validate">
        <label for="name">Name</label>
      </div>
      <div class="input-field">
        <input id="email" type="email" class="validate">
        <label for="email">Email</label>
      </div>
      <div class="input-field">
        <div class="col s12 center-align mar-top">
          <button class="btn waves-effect waves-light cyan" type="submit" name="action">Enter</button>
        </div>
      </div>
    </form>
  </div>
</div>
