<div id="header" class="container">
  <div class="row">
    <div class="col s12 cta center-align">
      <h1 id="top-headline" class="peppa-headline-pink no-margin-tb">Peppa Pig wants to send you to</h1>
    </div>
  </div>
</div>
<div id="header" class="row">
  <div class="col s12 m6 offset-m3 l4 offset-l4">
    <img class="full-w shadowed pulse" src="https://s3.amazonaws.com/myfangate.com/peppapig/tourlogo.png">
  </div>
  <div class="streamers shadowed"></div>
</div>
<div class="container pig-container">
  <div id="peppa-header-image" class="peppapig hide-on-small-only">
    <img class="full-w shadowed" src="https://s3.amazonaws.com/myfangate.com/peppapig/peppa.png">
  </div>
  <div class="george hide-on-small-only">
    <img class="full-w shadowed" src="https://s3.amazonaws.com/myfangate.com/peppapig/george.png">
  </div>
  <div class="row">
    <div class="col s12 cta center-align">
      <h1 class="peppa-headline-blue no-margin-tb">Enter your email and share</h1>
      <h1 class="peppa-headline-blue no-margin-tb">this page for your chance to win!</h1>
    </div>
  </div>
</div>
