<!-- Update your html tag to include the itemscope and itemtype attributes. -->
<html itemscope itemtype="http://schema.org/Type">

<!-- Place this data between the <head> tags of your website -->
<title><%= current_page.data.title || "Mayday Parade | Share To Win" %></title>
<meta name="description" content="SHARE THE NEW MUSIC VIDEO FOR 'LETTING GO' TO WIN WARPED TOUR TICKETS + MORE" />

<!-- Schema.org markup for Google+ -->
<meta itemprop="name" content="Mayday Parade | Share To Win">
<meta itemprop="description" content="SHARE THE NEW MUSIC VIDEO FOR 'LETTING GO' TO WIN WARPED TOUR TICKETS + MORE">
<meta itemprop="image" content="https://s3.amazonaws.com/myfangate.com/mayday2016/shareimage.jpg">

<!-- Twitter Card data -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@maydayparade">
<meta name="twitter:title" content="Mayday Parade | Share To Win">
<meta name="twitter:description" content="SHARE THE NEW MUSIC VIDEO FOR 'LETTING GO' TO WIN WARPED TOUR TICKETS + MORE">
<meta name="twitter:creator" content="@maydayparade">
<meta name="twitter:image" content="https://s3.amazonaws.com/myfangate.com/mayday2016/shareimage.jpg">

<!-- Open Graph data -->
<meta property="og:title" content="Mayday Parade | Share To Win" />
<meta property="og:type" content="article" />
<meta property="og:url" content="http://maydayparade.com" />
<meta property="og:image" content="https://s3.amazonaws.com/myfangate.com/mayday2016/shareimage.jpg" />
<meta property="og:description" content="SHARE THE NEW MUSIC VIDEO FOR 'LETTING GO' TO WIN WARPED TOUR TICKETS + MORE" />
<meta property="og:site_name" content="Mayday Parade | Share To Win" />
