<!-- Update your html tag to include the itemscope and itemtype attributes. -->
<html itemscope itemtype="http://schema.org/Type">

<!-- Place this data between the <head> tags of your website -->
<title><%= current_page.data.title || "Fearless Summer 2016" %></title>
<meta name="description" content="Enter your email and choose the Warped Tour date nearest you to win a pair of tickets!" />

<!-- Schema.org markup for Google+ -->
<meta itemprop="name" content="Fearless Summer 2016">
<meta itemprop="description" content="Enter your email and choose the Warped Tour date nearest you to win a pair of tickets!">
<meta itemprop="image" content="https://s3.amazonaws.com/myfangate.com/fearlesswarped2016/shareimage.jpg">

<!-- Twitter Card data -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@fearlessrecords">
<meta name="twitter:title" content="Fearless Summer 2016">
<meta name="twitter:description" content="Enter your email and choose the Warped Tour date nearest you to win a pair of tickets!">
<meta name="twitter:creator" content="@fearlessrecords">
<meta name="twitter:image" content="https://s3.amazonaws.com/myfangate.com/fearlesswarped2016/shareimage.jpg">

<!-- Open Graph data -->
<meta property="og:title" content="Fearless Summer 2016" />
<meta property="og:type" content="article" />
<meta property="og:url" content="http://fearlesssummer.com" />
<meta property="og:image" content="https://s3.amazonaws.com/myfangate.com/fearlesswarped2016/shareimage.jpg" />
<meta property="og:description" content="Enter your email and choose the Warped Tour date nearest you to win a pair of tickets!" />
<meta property="og:site_name" content="Fearless Summer 2016" />
