<!-- Prizing Modal -->
<div id="prizing-info" class="modal">
  <div class="modal-content">
    <h4>Prizing Information</h4>
    <br>
    <h6>VIP Party Packages Include:</h6>
    <ul>
      <li>• Exclusive access to the Peppa Pig Party after the show</li>
      <li>• Light catering including lemonade, water and cookies</li>
      <li>• Meet and greet photo opportunity with Peppa Pig cast on the pink carpet</li>
      <li>• One (1) exclusive Peppa Pig party gift</li>
      <li>• On-site party concierge</li>
    </ul>
  </div>
</div>

<!-- Rules Modal -->
<div id="rules-modal" class="modal">
  <div class="modal-content">
    <h4>Official Rules</h4>
    <p>NO PURCHASE NECESSARY. MANY WILL ENTER, FEW WILL WIN. Certain Restrictions Apply. (10) Grand prizes are available. Sweepstakes to open persons of the United States within any of the markets Peppa Pig Live will be touring through in Fall of 2016. Sweepstakes begin at 12:00pm ET on Wednesday, May 11th, and ends at 11:59pm ET on Wednesday, June 8th.</p>
    <p>Grand prize winners will receive a total of 4 tickets to a show of their choosing, which will include 4 VIP Party Packages.  If selected  you will receive an email confirming your 4 tickets + VIP Party Packages.  We will need a full name of the person picking up the tickets + VIP Packages.  That’s person’s name will need to match a valid ID.  Once confirmed additional details on how to pick up your tickets and Party Packages will be confirmed via email.</p>
    <h6>VIP Party Packages Include:</h6>
    <ul>
      <li>• Exclusive access to the Peppa Pig Party after the show</li>
      <li>• Light catering including lemonade, water and cookies</li>
      <li>• Meet and greet photo opportunity with Peppa Pig cast on the pink carpet</li>
      <li>• One (1) exclusive Peppa Pig party gift</li>
      <li>• On-site party concierge</li>
    </ul>
    <p>Sweepstakes Sponsor: Peppa Pig Live</p>
    <p>(US). This sweepstakes is not sponsored, endorsed or administered by, or associated with, Facebook, nor is Facebook associated with the Sweepstakes in any way. Any questions, comments, or complaints regarding the Sweepstakes must be directed to the Sponsor, and not to Facebook.</p>
  </div>
</div>
