<div id="preloader">
  <div class="container">
    <div class="row valign-wrapper">
      <div class="col s12 center-align valign">
        <div class="loaderimg shadowed">&nbsp;</div>
        <h1 class="peppa-headline-pink">Loading...</h1>
      </div>
    </div>
  </div>
</div>
