<div class="container">
  <div class="row">
    <div class="col s12 m10 offset-m1 center-align">
      <h3 class="social-head">JOIN THE #BLACKLINES COMMUNITY</h3>
    </div>
    <div class="col s12 m5 offset-m1">
      <a data-chrome="nofooter noborders transparent" class="twitter-timeline" href="https://twitter.com/hashtag/blacklines" data-widget-id="714879780483698690">#blacklines Tweets</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
    <div class="col s12 m5">
      <script src="https://snapwidget.com/js/snapwidget.js"></script>
      <iframe src="https://snapwidget.com/p/widget/?id=XF6PjPteiX&t=729" title="Instagram Widget" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%;"></iframe>
    </div>
  </div>
</div>
