<div class="container">
  <div class="row section-head pad-top">
    <div class="col s1 offset-s1 center-align record valign-wrapper">
      <img class="responsive-img valign" src="https://s3.amazonaws.com/myfangate.com/rdim360/record.png">
    </div>
    <div class="col s8 center-align center-area">
      <h2 class="white-text text-shadow">JOIN THE #BEFEARLESS CONVERSATION!</h2>
    </div>
    <div class="col s1 center-align record valign-wrapper">
      <img class="responsive-img valign" src="https://s3.amazonaws.com/myfangate.com/rdim360/record.png">
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <div id="social-stream"></div>
    </div>
  </div>
</div>
