<div class="container">
  <div class="row">
    <div class="col s10 offset-s1 margin-top">
      <ul id="tour-dates" class="collection with-header cyan white-text">
        <li class="collection-header cyan darken-2">
          <div class="row">
            <div class="col s10 tourdatetitle">
              <h4>TOUR DATES</h4>
            </div>
            <div class="col s2 medwarped valign-wrapper">
              <img class="full-w valign" src="https://s3.amazonaws.com/myfangate.com/rdim360/warped16logo.png">
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
