<footer class="page-footer white">
  <div class="container">
    <div class="row pad-top">
      <div class="col l9 m9 s12">
        <h2 class="hide-on-med-and-up peppa-pink-text">Legal</h2>
        <h5 class="hide-on-small-only peppa-pink-text">Legal</h5>
          <div class="col s12">
            <div class="row">
              <div class="col s12 m9">
                <p class="peppa-blue-text">LISCENSING AGREEMENT: THIS ART IS LICENSED AND APPROVED FOR USE ONLY WITHIN THE MARKET PURCHASE FROM BILL YOUNG PRODUCTIONS, INC. BY USING THIS ART, YOU AGREE TO NOT DISTRIBUTE, MODIFY, OR USE THIS ART IN AN UNLICENSED MARKET. ALL MATERIALS ARE © COPYRIGHT 2013 BILL YOUNG PRODUCTIONS, INC.</p>
                <div class="row">
                  <div class="col s5 center-align">
                    <img class="full-w" src="https://s3.amazonaws.com/myfangate.com/peppapig/logos.png">
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
      <div class="col l3 m3 s12">
        <h2 class="hide-on-med-and-up peppa-pink-text">Get Connected</h2>
        <h5 class="hide-on-small-only peppa-pink-text">Get Connected</h5>
        <ul>
          <li><a class="peppa-blue-text" target="_blank" href="#"><i class="fa fa-facebook-square"></i> Facebook</a></li>
          <li><a class="peppa-blue-text" target="_blank" href="#"><i class="fa fa-twitter-square"></i> Twitter</a></li>
          <li><a class="peppa-blue-text" target="_blank" href="#"><i class="fa fa-instagram"></i> Instagram</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container peppa-pink-text">
      Peppa Pig © Astley Baker Davies Ltd / Entertainment One UK Ltd 2003.
    </div>
  </div>
</footer>
