<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">SPONSORS</h5>
        <div class="col s12 valign-wrapper">
          <div class="col s12 m2 l2">
            <img class="responsive-img" src="https://s3.amazonaws.com/myfangate.com/fightforsomething/kmgmt.png">
          </div>
          <div class="col s12 m2 l2">
            <img class="responsive-img" src="https://s3.amazonaws.com/myfangate.com/fightforsomething/fearless.png">
          </div>
          <div class="col s12 m2 l2">
            <img class="responsive-img" src="https://s3.amazonaws.com/myfangate.com/fightforsomething/evr.png">
          </div>
          <div class="col s12 m2 l2">
            <img class="responsive-img" src="https://s3.amazonaws.com/myfangate.com/fightforsomething/soundrink.png">
          </div>
          <div class="col s12 m2 l2">
            <img class="responsive-img" src="https://s3.amazonaws.com/myfangate.com/fightforsomething/abmerch.png">
          </div>
          <div class="col s12 m2 l2">
            <img class="responsive-img" src="https://s3.amazonaws.com/myfangate.com/fightforsomething/idobi.png">
          </div>
        </div>
      </div>
      <div class="col l3 offset-l1 s6">
        <h5 class="white-text">Tonight Alive</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" target="_blank" href="https://www.facebook.com/tonightalive"><i class="fa fa-facebook-square"></i> Facebook</a></li>
          <li><a class="grey-text text-lighten-3" target="_blank" href="https://twitter.com/TonightAlive"><i class="fa fa-twitter-square"></i> Twitter</a></li>
          <li><a class="grey-text text-lighten-3" target="_blank" href="https://www.instagram.com/tonightaliveofficial"><i class="fa fa-instagram"></i> Instagram</a></li>
        </ul>
      </div>
      <div class="col l2 s6">
        <h5 class="white-text">Set It Off</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" target="_blank" href="https://www.facebook.com/setitoffband"><i class="fa fa-facebook-square"></i> Facebook</a></li>
          <li><a class="grey-text text-lighten-3" target="_blank" href="https://twitter.com/SetItOff"><i class="fa fa-twitter-square"></i> Twitter</a></li>
          <li><a class="grey-text text-lighten-3" target="_blank" href="https://www.instagram.com/setitoffband"><i class="fa fa-instagram"></i> Instagram</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2016 Fearless Records
    <a class="grey-text text-lighten-4 right" target="_blank" href="http://fearlessrecords.com">FEARLESSRECORDS.COM</a>
    </div>
  </div>
</footer>
