<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l9 m9 s12">
        <h5 class="white-text">SPONSORS</h5>
          <div class="col s12">
            <div class="row">
              <img class="responsive-img" src="https://s3.amazonaws.com/myfangate.com/fightforsomething/fearless.png">
              <img class="fender-logo" src="https://s3.amazonaws.com/myfangate.com/mayday2016/fender-logo.png">
            </div>
            <div class="row">
              <div class="col s12">
                <p class="white-text">FENDER®, STRATOCASTER® and the distinctive headstock design commonly found on the STRATOCASTER® guitar are registered trademarks of Fender Musical Instruments Corporation and used herein with express written permission.  All rights reserved.</p>
              </div>
            </div>
          </div>
      </div>
      <div class="col l3 m3 s12">
        <h5 class="white-text">Socials</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" target="_blank" href="https://www.facebook.com/maydayparade"><i class="fa fa-facebook-square"></i> Facebook</a></li>
          <li><a class="grey-text text-lighten-3" target="_blank" href="https://twitter.com/maydayparade"><i class="fa fa-twitter-square"></i> Twitter</a></li>
          <li><a class="grey-text text-lighten-3" target="_blank" href="https://www.instagram.com/maydayparadeband"><i class="fa fa-instagram"></i> Instagram</a></li>
          <li><a class="grey-text text-lighten-3" target="_blank" href="https://open.spotify.com/artist/3WfJ1OtrWI7RViX9DMyEGy"><i class="fa fa-spotify"></i> Spotify</a></li>
          <li><a class="grey-text text-lighten-3" target="_blank" href="https://www.youtube.com/user/MaydayParade"><i class="fa fa-youtube"></i> YouTube</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <div class="row">
        © 2016 Fearless Records
        <a class="grey-text text-lighten-4 right" target="_blank" href="http://fearlessrecords.com">FEARLESSRECORDS.COM</a>
      </div>
    </div>
  </div>
</footer>
