<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">SPONSORS</h5>
        <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Get Connected</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" target="_blank" href="#!"><i class="fa fa-facebook-square"></i> Facebook</a></li>
          <li><a class="grey-text text-lighten-3" target="_blank" href="#!"><i class="fa fa-twitter-square"></i> Twitter</a></li>
          <li><a class="grey-text text-lighten-3" target="_blank" href="#!"><i class="fa fa-instagram"></i> Instagram</a></li>
          <li><a class="grey-text text-lighten-3" target="_blank" href="#!"><i class="fa fa-youtube-square"></i> Youtube</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2016 Fearless Records
    <a class="grey-text text-lighten-4 right" target="_blank" href="http://fearlessrecords.com">FEARLESSRECORDS.COM</a>
    </div>
  </div>
</footer>
