<nav class="white">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <div class="nav-wrapper">
          <a href="/" class="brand-logo"><img class="brand-img" src="https://s3.amazonaws.com/myfangate.com/peppapig/tourlogo.png"></a>
          <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down">
            <li><a class="peppa-pink-text" target="_blank" id="tour-scroller" href="#">Tour Dates</a></li>
            <li><a class="peppa-pink-text" target="_blank" id="contest-scroller" href="#">Contest</a></li>
          </ul>
          <ul class="side-nav" id="mobile-demo">
            <li><a class="peppa-pink-text" target="_blank" id="tour-scroller" href="#">Tour Dates</a></li>
            <li><a class="peppa-pink-text" target="_blank" id="contest-scroller" href="#">Contest</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
