<nav class="black">
  <div class="nav-wrapper">
    <a href="/" class="brand-logo"><img class="brand-img" src="https://s3.amazonaws.com/myfangate.com/mayday2016/maydaylogo.png"></a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a target="_blank" href="http://maydayparade.com/tour/">Tour Dates</a></li>
      <li><a target="_blank" href="http://maydayparade.merchnow.com/">Merch</a></li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li><a target="_blank" href="http://maydayparade.com/tour/">Tour Dates</a></li>
      <li><a target="_blank" href="http://maydayparade.merchnow.com/">Merch</a></li>
    </ul>
  </div>
</nav>
